USE [master]
GO
/****** Object:  Database [QuanLyHocVu]    Script Date: 12/27/2025 4:15:24 PM ******/
CREATE DATABASE [QuanLyHocVu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyHocVu', FILENAME = N'D:\SQLServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyHocVu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyHocVu_log', FILENAME = N'D:\SQLServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyHocVu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyHocVu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyHocVu]
GO
/****** Object:  Table [dbo].[CanBo]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanBo](
	[MaNguoiDung] [nvarchar](10) NOT NULL,
	[TinhTrangCongTac] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietChuongTrinh]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChuongTrinh](
	[MaCTDT] [nvarchar](10) NOT NULL,
	[MaMonHoc] [nvarchar](10) NOT NULL,
	[HocKy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDT] ASC,
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuongTrinhDaoTao]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhDaoTao](
	[MaCTDT] [nvarchar](10) NOT NULL,
	[TenCTDT] [nvarchar](100) NULL,
	[MaNganh] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyHocPhan]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHocPhan](
	[MaSinhVien] [nvarchar](10) NOT NULL,
	[MaLopHocPhan] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC,
	[MaLopHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemCongTacXaHoi]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemCongTacXaHoi](
	[MaSinhVien] [nvarchar](10) NOT NULL,
	[TongDiem] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemHocPhan]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemHocPhan](
	[MaSinhVien] [nvarchar](10) NOT NULL,
	[MaLopHocPhan] [nvarchar](10) NOT NULL,
	[DiemChuyenCan] [decimal](5, 2) NULL,
	[DiemGiuaKy] [decimal](5, 2) NULL,
	[DiemCuoiKy] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC,
	[MaLopHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemRenLuyen]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemRenLuyen](
	[MaSinhVien] [nvarchar](10) NOT NULL,
	[MaHocKy] [nvarchar](20) NOT NULL,
	[Diem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC,
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaNguoiDung] [nvarchar](10) NOT NULL,
	[ChuyenMon] [nvarchar](100) NULL,
	[MaKhoa] [nvarchar](10) NOT NULL,
	[TinhTrangCongTac] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHocKy] [nvarchar](20) NOT NULL,
	[NamHoc] [nvarchar](20) NOT NULL,
	[HocKySo] [int] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhi]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhi](
	[MaHocPhi] [nvarchar](10) NOT NULL,
	[GiaTheoTin] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [nvarchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaNganh]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaNganh](
	[MaKhoa] [nvarchar](10) NOT NULL,
	[MaNganh] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC,
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLopHocPhan] [nvarchar](10) NOT NULL,
	[MaMonHoc] [nvarchar](10) NOT NULL,
	[MaGiangVien] [nvarchar](10) NOT NULL,
	[MaHocKy] [nvarchar](20) NOT NULL,
	[CaHoc] [int] NULL,
	[NgayHoc] [nvarchar](10) NULL,
	[PhongHoc] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLopHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMonHoc] [nvarchar](10) NOT NULL,
	[TenMonHoc] [nvarchar](100) NULL,
	[SoTinChi] [int] NULL,
	[LoaiMon] [nvarchar](50) NULL,
	[MaHocPhi] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nganh]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nganh](
	[MaNganh] [nvarchar](10) NOT NULL,
	[TenNganh] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[QueQuan] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[CCCD] [nvarchar](20) NULL,
	[DiaChiThuongTru] [nvarchar](200) NULL,
	[DiaChiTamTru] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPhong] [nvarchar](10) NOT NULL,
	[Tang] [int] NOT NULL,
	[Khu] [nvarchar](50) NOT NULL,
	[SoPhong] [int] NULL,
	[LoaiPhong] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaNguoiDung] [nvarchar](10) NOT NULL,
	[MaNganh] [nvarchar](10) NOT NULL,
	[NienKhoa] [nvarchar](20) NULL,
	[TinhTrangHoc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/27/2025 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaNguoiDung] [nvarchar](10) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](200) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CanBo] ([MaNguoiDung], [TinhTrangCongTac]) VALUES (N'CB01', N'Đang công tác')
GO
INSERT [dbo].[ChiTietChuongTrinh] ([MaCTDT], [MaMonHoc], [HocKy]) VALUES (N'CNTP', N'MH007', 1)
INSERT [dbo].[ChiTietChuongTrinh] ([MaCTDT], [MaMonHoc], [HocKy]) VALUES (N'CNTP', N'MH008', 2)
INSERT [dbo].[ChiTietChuongTrinh] ([MaCTDT], [MaMonHoc], [HocKy]) VALUES (N'CNTP', N'MH009', 1)
GO
INSERT [dbo].[ChuongTrinhDaoTao] ([MaCTDT], [TenCTDT], [MaNganh]) VALUES (N'CNTP', N'Công nghệ thực phẩm', N'CNTP')
INSERT [dbo].[ChuongTrinhDaoTao] ([MaCTDT], [TenCTDT], [MaNganh]) VALUES (N'CNTT', N'Công nghệ thông tin', N'CNTT')
INSERT [dbo].[ChuongTrinhDaoTao] ([MaCTDT], [TenCTDT], [MaNganh]) VALUES (N'KTCK', N'Công nghệ kỹ thuật cơ khí', N'KTCK')
GO
INSERT [dbo].[DangKyHocPhan] ([MaSinhVien], [MaLopHocPhan]) VALUES (N'DH22500002', N'LHP00001')
INSERT [dbo].[DangKyHocPhan] ([MaSinhVien], [MaLopHocPhan]) VALUES (N'DH22500002', N'LHP00004')
GO
INSERT [dbo].[DiemCongTacXaHoi] ([MaSinhVien], [TongDiem]) VALUES (N'DH12500001', 0)
INSERT [dbo].[DiemCongTacXaHoi] ([MaSinhVien], [TongDiem]) VALUES (N'DH22500001', 0)
INSERT [dbo].[DiemCongTacXaHoi] ([MaSinhVien], [TongDiem]) VALUES (N'DH22500002', 0)
GO
INSERT [dbo].[DiemHocPhan] ([MaSinhVien], [MaLopHocPhan], [DiemChuyenCan], [DiemGiuaKy], [DiemCuoiKy]) VALUES (N'DH22500002', N'LHP00001', CAST(9.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[DiemHocPhan] ([MaSinhVien], [MaLopHocPhan], [DiemChuyenCan], [DiemGiuaKy], [DiemCuoiKy]) VALUES (N'DH22500002', N'LHP00004', CAST(10.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[DiemRenLuyen] ([MaSinhVien], [MaHocKy], [Diem]) VALUES (N'DH12500001', N'2025-2026-1', 0)
INSERT [dbo].[DiemRenLuyen] ([MaSinhVien], [MaHocKy], [Diem]) VALUES (N'DH12500001', N'2025-2026-2', 0)
INSERT [dbo].[DiemRenLuyen] ([MaSinhVien], [MaHocKy], [Diem]) VALUES (N'DH22500001', N'2025-2026-1', 0)
GO
INSERT [dbo].[GiangVien] ([MaNguoiDung], [ChuyenMon], [MaKhoa], [TinhTrangCongTac]) VALUES (N'GV010001', N'Cơ bản', N'KCB', N'Đang công tác')
INSERT [dbo].[GiangVien] ([MaNguoiDung], [ChuyenMon], [MaKhoa], [TinhTrangCongTac]) VALUES (N'GV020001', N'Cơ khí', N'KCK', N'Đang công tác')
INSERT [dbo].[GiangVien] ([MaNguoiDung], [ChuyenMon], [MaKhoa], [TinhTrangCongTac]) VALUES (N'GV030001', N'Công nghệ thực phẩm', N'KCNTP', N'Đang công tác')
GO
INSERT [dbo].[HocKy] ([MaHocKy], [NamHoc], [HocKySo], [NgayBatDau], [NgayKetThuc]) VALUES (N'2025-2026-1', N'2025-2026', 1, CAST(N'2026-09-01' AS Date), CAST(N'2027-01-15' AS Date))
INSERT [dbo].[HocKy] ([MaHocKy], [NamHoc], [HocKySo], [NgayBatDau], [NgayKetThuc]) VALUES (N'2025-2026-2', N'2025-2026', 2, CAST(N'2027-02-01' AS Date), CAST(N'2027-06-01' AS Date))
GO
INSERT [dbo].[HocPhi] ([MaHocPhi], [GiaTheoTin]) VALUES (N'HPDA', CAST(320000.00 AS Decimal(10, 2)))
INSERT [dbo].[HocPhi] ([MaHocPhi], [GiaTheoTin]) VALUES (N'HPLT', CAST(190000.00 AS Decimal(10, 2)))
INSERT [dbo].[HocPhi] ([MaHocPhi], [GiaTheoTin]) VALUES (N'HPTC', CAST(120000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'KCB', N'Khoa Cơ Bản')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'KCK', N'Khoa Cơ Khí')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'KCNTP', N'Khoa Công nghệ Thực phẩm')
GO
INSERT [dbo].[KhoaNganh] ([MaKhoa], [MaNganh]) VALUES (N'KCB', N'CNTP')
INSERT [dbo].[KhoaNganh] ([MaKhoa], [MaNganh]) VALUES (N'KCB', N'CNTT')
INSERT [dbo].[KhoaNganh] ([MaKhoa], [MaNganh]) VALUES (N'KCB', N'KTCK')
GO
INSERT [dbo].[LopHocPhan] ([MaLopHocPhan], [MaMonHoc], [MaGiangVien], [MaHocKy], [CaHoc], [NgayHoc], [PhongHoc]) VALUES (N'LHP00001', N'MH001', N'GV040001', N'2025-2026-2', 2, N'3', N'C801')
INSERT [dbo].[LopHocPhan] ([MaLopHocPhan], [MaMonHoc], [MaGiangVien], [MaHocKy], [CaHoc], [NgayHoc], [PhongHoc]) VALUES (N'LHP00002', N'MH002', N'GV040001', N'2025-2026-1', 4, N'6', N'C705')
INSERT [dbo].[LopHocPhan] ([MaLopHocPhan], [MaMonHoc], [MaGiangVien], [MaHocKy], [CaHoc], [NgayHoc], [PhongHoc]) VALUES (N'LHP00003', N'MH001', N'GV040001', N'2025-2026-1', 3, N'3', N'C804')
GO
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [LoaiMon], [MaHocPhi]) VALUES (N'MH001', N'Lập trình web', 4, N'Lý thuyết', N'HPLT')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [LoaiMon], [MaHocPhi]) VALUES (N'MH002', N'Lập trình Mobile', 4, N'Lý thuyết', N'HPLT')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [LoaiMon], [MaHocPhi]) VALUES (N'MH003', N'Đồ án tin học', 6, N'Đồ án', N'HPDA')
GO
INSERT [dbo].[Nganh] ([MaNganh], [TenNganh]) VALUES (N'CNTP', N'Công nghệ thực phẩm')
INSERT [dbo].[Nganh] ([MaNganh], [TenNganh]) VALUES (N'CNTT', N'Công nghệ thông tin')
INSERT [dbo].[Nganh] ([MaNganh], [TenNganh]) VALUES (N'KTCK', N'Công nghệ kỹ thuật cơ khí ')
GO
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [QueQuan], [NgaySinh], [Email], [SoDienThoai], [CCCD], [DiaChiThuongTru], [DiaChiTamTru]) VALUES (N'CB01', N'Trần Văn Minh', N'HCM', CAST(N'1986-02-02' AS Date), N'cb11@gmail.com', N'0942000002', N'008000000002', N'HCM', NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [QueQuan], [NgaySinh], [Email], [SoDienThoai], [CCCD], [DiaChiThuongTru], [DiaChiTamTru]) VALUES (N'DH12500001', N'Huỳnh Quang Thiện', N'An Giang', CAST(N'2007-05-06' AS Date), N'hqt@gmail.com', N'098167839', N'073348776182', N'HCM', N'HCM')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [QueQuan], [NgaySinh], [Email], [SoDienThoai], [CCCD], [DiaChiThuongTru], [DiaChiTamTru]) VALUES (N'DH22500001', N'Lê Dương Anh Tuấn', N'Tây Ninh', CAST(N'2003-12-16' AS Date), N'ldat@gmail.com', N'0123456789', N'072203001234', N'HCM', N'HCM')
GO
INSERT [dbo].[PhongHoc] ([MaPhong], [Tang], [Khu], [SoPhong], [LoaiPhong]) VALUES (N'B310', 3, N'B', 10, N'Thực hành')
INSERT [dbo].[PhongHoc] ([MaPhong], [Tang], [Khu], [SoPhong], [LoaiPhong]) VALUES (N'B311', 3, N'B', 11, N'Thực hành')
INSERT [dbo].[PhongHoc] ([MaPhong], [Tang], [Khu], [SoPhong], [LoaiPhong]) VALUES (N'B312', 3, N'B', 12, N'Thực hành')
GO
INSERT [dbo].[SinhVien] ([MaNguoiDung], [MaNganh], [NienKhoa], [TinhTrangHoc]) VALUES (N'DH12500001', N'CNTP', N'2025', N'Đang học')
INSERT [dbo].[SinhVien] ([MaNguoiDung], [MaNganh], [NienKhoa], [TinhTrangHoc]) VALUES (N'DH22500001', N'CNTT', N'2025', N'Đang học')
INSERT [dbo].[SinhVien] ([MaNguoiDung], [MaNganh], [NienKhoa], [TinhTrangHoc]) VALUES (N'DH22500002', N'CNTT', N'2025', N'Đang học')
GO
INSERT [dbo].[TaiKhoan] ([MaNguoiDung], [TenDangNhap], [MatKhau], [TrangThai]) VALUES (N'CB01', N'cb01', N'123456', N'Ho?t d?ng')
INSERT [dbo].[TaiKhoan] ([MaNguoiDung], [TenDangNhap], [MatKhau], [TrangThai]) VALUES (N'DH12500001', N'DH12500001', N'DH12500001', N'Hoạt động')
INSERT [dbo].[TaiKhoan] ([MaNguoiDung], [TenDangNhap], [MatKhau], [TrangThai]) VALUES (N'DH22500001', N'DH22500001', N'DH22500001', N'Hoạt động')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChuongTr__A2CEF50C927A9134]    Script Date: 12/27/2025 4:15:24 PM ******/
ALTER TABLE [dbo].[ChuongTrinhDaoTao] ADD UNIQUE NONCLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_HocKy]    Script Date: 12/27/2025 4:15:24 PM ******/
ALTER TABLE [dbo].[HocKy] ADD  CONSTRAINT [UQ_HocKy] UNIQUE NONCLUSTERED 
(
	[NamHoc] ASC,
	[HocKySo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A955A0AA4B8ABA31]    Script Date: 12/27/2025 4:15:24 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D10534F6E31BF4]    Script Date: 12/27/2025 4:15:24 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0473E29D8]    Script Date: 12/27/2025 4:15:24 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CanBo]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[ChiTietChuongTrinh]  WITH CHECK ADD FOREIGN KEY([MaCTDT])
REFERENCES [dbo].[ChuongTrinhDaoTao] ([MaCTDT])
GO
ALTER TABLE [dbo].[ChiTietChuongTrinh]  WITH CHECK ADD FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao]  WITH CHECK ADD FOREIGN KEY([MaNganh])
REFERENCES [dbo].[Nganh] ([MaNganh])
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD FOREIGN KEY([MaLopHocPhan])
REFERENCES [dbo].[LopHocPhan] ([MaLopHocPhan])
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DiemCongTacXaHoi]  WITH CHECK ADD FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DiemHocPhan]  WITH CHECK ADD FOREIGN KEY([MaLopHocPhan])
REFERENCES [dbo].[LopHocPhan] ([MaLopHocPhan])
GO
ALTER TABLE [dbo].[DiemHocPhan]  WITH CHECK ADD FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DiemRenLuyen]  WITH CHECK ADD FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[DiemRenLuyen]  WITH CHECK ADD FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[KhoaNganh]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[KhoaNganh]  WITH CHECK ADD FOREIGN KEY([MaNganh])
REFERENCES [dbo].[Nganh] ([MaNganh])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaGiangVien])
REFERENCES [dbo].[GiangVien] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([PhongHoc])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([MaHocPhi])
REFERENCES [dbo].[HocPhi] ([MaHocPhi])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaNganh])
REFERENCES [dbo].[Nganh] ([MaNganh])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
USE [master]
GO
